= form_for @generated_image do |f|
  - if @generated_image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@generated_image.errors.count, "error")} prohibited this generated_image from being saved:"
      %ul
        - @generated_image.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6.field
      %h2 Content
      = f.hidden_field :content_image_id
      - @source_images.each do |source_image|
        %a{href: '#', data: {image_id: source_image.id}}
          = image_tag source_image.image.url(:thumb)
      %div
        = link_to '+ Add new image', new_source_image_path, class: 'btn'
    .col-md-6.field
      %h2 Style
      = f.hidden_field :style_image_id
      - @source_images.each do |source_image|
        %a{href: '#', data: {image_id: source_image.id}}
          = image_tag source_image.image.url(:thumb)
      %div
        = link_to '+ Add new image', new_source_image_path, class: 'btn'
  .actions
    .field
      .input-group{style: 'width: 150px; margin: 0 auto;'}
        = f.number_field :iterations, min: 1, max: 1000, class: 'form-control', width: 100
        = f.label :iterations, class: 'input-group-addon'
      %p
        %small Please allow ~2 minutes per 100 iterations
    = f.submit 'Generate', class: 'btn btn-primary'

:javascript
  $(document).ready(function() {
    $('form#new_generated_image a[data-image-id]').click(function() {
      var id = $(this).data('imageId');
      var $field = $(this).closest('.field');
      $field.find('input').val(id);
      $field.find('img').removeClass('selected');
      $(this).find('img').addClass('selected');
      return false;
    });
  });
